/*
Error: Invalid CSS after "Stack trace:": expected pseudoclass or pseudoelement, was ""
        on line 1 of bash.exe.stackdump

1: Stack trace:
2: Frame        Function    Args
3: 00000010002  0018006021E (00180241C10, 001802340B9, 00000010002, 000FFFFB9F0)
4: 00000010002  00180048859 (00000000002, 00180329128, 00000000002, 00180329128)
5: 00000010002  00180048892 (00000000002, 00180329438, 00000010002, 00000000008)
6: 00000010002  001800598BC (655C785C655C2E5C, 7C5C205C225C7D5C, 785C655C205C7C5C, 315C205C745C695C)

Backtrace:
bash.exe.stackdump:1
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/scss/parser.rb:1308:in `expected'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/scss/parser.rb:1238:in `expected'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/scss/parser.rb:1233:in `tok!'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/scss/parser.rb:1097:in `ident!'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/scss/static_parser.rb:282:in `pseudo'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/scss/static_parser.rb:163:in `simple_selector_sequence'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/scss/static_parser.rb:115:in `selector'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/scss/static_parser.rb:83:in `selector_comma_sequence'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/scss/parser.rb:1216:in `expr!'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/scss/static_parser.rb:20:in `parse_selector'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:434:in `visit_rule'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:79:in `block in with_base'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:135:in `with_frame'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/stack.rb:79:in `with_base'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:52:in `map'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:157:in `visit'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:10:in `visit'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/exec/sass_scss.rb:387:in `run'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/exec/base.rb:50:in `parse'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/lib/sass/exec/base.rb:18:in `parse!'
D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.7.3/bin/sass:13:in `<top (required)>'
D:/Ruby23-x64/bin/sass:22:in `load'
D:/Ruby23-x64/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"Stack trace:\": expected pseudoclass or pseudoelement, was \"\"\A         on line 1 of bash.exe.stackdump\A \A 1: Stack trace:\A 2: Frame        Function    Args\A 3: 00000010002  0018006021E (00180241C10, 001802340B9, 00000010002, 000FFFFB9F0)\A 4: 00000010002  00180048859 (00000000002, 00180329128, 00000000002, 00180329128)\A 5: 00000010002  00180048892 (00000000002, 00180329438, 00000010002, 00000000008)\A 6: 00000010002  001800598BC (655C785C655C2E5C, 7C5C205C225C7D5C, 785C655C205C7C5C, 315C205C745C695C)"; }
