$r:16;
$em-text-color-base: #17161e; //常规表格文本颜色
$em-border-color-base: rgba(255, 255, 255, 0.5);//基本边框颜色
$background-base:rgba(25, 137, 250, 0.6), rgba(20, 31, 55, 0.5),rgba(20, 31, 55, 0.9),rgba(25, 137, 250, 0.9),rgba(20, 31, 55, 0.6);

.tree-container{
  position: relative;
  height: 100%;
  overflow-y: auto;
  .el-tree {
    position: relative;
    cursor: default;
    background: unset;
    color: $em-text-color-base;
    min-width: 200px;
    max-height:400px;
    overflow:auto ;
    scrollbar-width:thin;//滚动条宽度

  }
  .custom-tree-node {
    flex: 1;
    display: flex;//这里的display属性不用修改
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding-right: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    & span.em-tree-text{
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      width:100%;
      text-overflow: ellipsis;
    }
  }
  .head_title{
    color: $em-text-color-base;
    padding-left: 14/$r+rem;
    font-size: 14/$r+rem;
    height: 30/$r+rem;
    line-height: 30/$r+rem;
    margin-top: 0;
    background: rgba(220, 218, 204, 0.9);
  }
  .box-card{
    height: 100%;
    //overflow-y: auto;
    //border-color: darken($em-border-color-base,60%);
    //background: nth($background-base,3);
  }
  .el-card.is-always-shadow{
    //box-shadow: 0 2px 12px 0 rgba(255,255,255,.3);
  }

}
