.emDialog{
  .em-win{
    width: 200px;
    height: 200px;
    z-index: 2004;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    margin: 0;
    background: #1f2d3d;
  }
}
