@import "variables";
.el-picker-panel {
  background: lighten($em-base-background, 5%);
  border-image: $background-linear-base;
  border-image-slice: 20;
  color: darken($em-text-color-base, 10%);

  .el-date-table {
    & th {
      color: darken($em-text-color-base, 10%);
      border-color: lighten($em-highlight-border-color-base, 20%);
    }

    & td.current:not(.disabled) span {
      background: lighten($em-bg-color-base, 60%);
      color: darken($em-text-color-base, 100%);
    }

    & td.available:hover, & td.today span {
      color: $em-text-highlight-base;
    }

    & td.today span {
      font-weight: 900;
    }

    & td.disabled div {
      background-color: lighten($em-bg-color-base, 15%);
      cursor: not-allowed;
      color: darken($em-text-color-base, 60%);
    }

    & td.available {
      color: $em-text-color-base;
    }
  }

  .el-date-picker__header {
    .el-picker-panel__icon-btn, .el-date-picker__header-label {
      color: $em-text-color-base;
    }
  }

  .el-picker-panel__footer {
    background-color: lighten($em-bg-color-base, 5%);
    border-top-color: lighten($em-highlight-border-color-base, 20%);

    .el-button--text {
      color: lighten($em-text-highlight-base,20%);
    }
  }

  .el-time-panel__content {
    &::after, &::before {
      border-color: darken($em-highlight-border-color-base, 20%);
    }
  }
}

.el-picker-panel {
  & .el-picker-panel__sidebar {
    background-color: $em-bg-color-base;

    & .el-picker-panel__shortcut {
      color: darken($em-text-color-base,20%);

      &:hover {
        color: lighten($em-text-highlight-base,20%);
      }
    }
  }
}

.el-date-table td {
  &.start-date span, &.end-date span {
    background-color: darken(nth($em-highlight-bg2-color-base, 1),20%);
  }

  &.in-range div {
    background-color:  darken(nth($em-highlight-bg2-color-base, 1),20%);
    &:hover{
      background-color: $em-bg-color-base;
    }
  }
}
