.el-drawer {
  background: $em-background-details;
  overflow: auto;
  .el-drawer__body {
    padding: 0 10px;
    .el-form-item {
      display: flex !important;

      .el-form-item__label {
        width: 30%;
        color: #99a9bf;
        text-align: justify;
        line-height: 20px;
      }

      .el-form-item__content {
        width: 70%;
        text-align: justify;
        color: $em-text-color-base;
        line-height: 20px;
      }

      .el-image {
        width: 320/$r+rem;
        height: 320/$r+rem;
        object-fit: cover;
        left: 50%;
        transform: translateX(-27%);
      }
    }
  }
}
.el-drawer__close-btn{
  color: darken($em-text-color-base,10%);
  font-size: 18px;
  &:hover{
    color: $em-text-color-base;
  }
}
