.el-tree-node__content {
  &:hover {
    background-color: transparent;
  }

  &:focus {
    border-color: darken($em-border-color-base, 10%);
  }
}

/*选中节点背景色需要透明*/
.el-tree-node:focus > .el-tree-node__content {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/*el-tree高亮部分,背景色必须透明*/
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background: rgba(255, 255, 255, 0.4) !important;
  color: $em-text-color-base  !important;
}

.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
  background: rgba(255,255,255,0.4) !important;
  color: #66100d !important;
}
