.el-tabs__item{
  color:$em-text-color-base;
}
.el-tabs__nav-wrap::after{
  background-color: rgba(255, 255, 255, 0.31) ;
}
/*navbar-span-color*/
.el-breadcrumb__inner a{
  color: darken($em-text-color-base, 10%);
}
.app-breadcrumb.el-breadcrumb .no-redirect{
color: $em-text-highlight-base !important;
}

/*badge*/
.el-badge__content{
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}
.el-badge__content--success{
  color: #00ff00;
}
.el-badge__content--danger{
  color: red;
}

/*el-image-error图片上传*/
.el-image__error{
  background: $toolTip-background;
}

/*左右分割栏分隔线样式*/
.splitter-pane-resizer.vertical{
border-color: rgba(255,255,255,0.5) !important;
}
.el-card{
  color: $em-text-color-base;
  padding: 10px 10px 20px 10px;
}
.el-card__header{
  border-color: rgba(255,255,255,0.3);
}
/*用户信息进度条数据*/
.el-progress__text{
  color: $em-text-color-base;
}
/*// pane最小高度
.pane_minHeight{
  .el-card__body{
    min-height: 1030px;
    overflow-y: hidden;
  }
}
!*两个表格上下排列的高度*!
.pane_minHeightDouble{
  .el-card__body{
    min-height: 515px;
    overflow-y: hidden;
  }
}*/
