.el-table {
  & th{
    background-color: black;
  }
  & thead th{
    border-right: 1px dotted rgba(255,255,255,0.5);
  }
  & .cell{
    white-space: nowrap;//不换行，否则会把行高撑开
  }
}

.el-table--border th, .el-table--border td{
  border-right: none;
}
