$r:32;
// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}

/* 滚动条*/
$em-scrollbar-background-color: #cdcdcd;

/*font-color*/
$em-text-color-base: #ffffff; //常规表格文本颜色
$em-text-highlight-base: #409eff;//高亮文本颜色
$em-table-btn-borderColor:#07478a; //按钮边框颜色
/*border-color*/
$em-border-color-base: rgba(255, 255, 255, 0.5);//基本边框颜色
$em-highlight-border-color-base: #005695;//高亮边框颜色

/*background-color*/
$em-bg-color-base: rgba(43, 47, 58, 0.77);//基本背景颜色
$em-highlight-bg-color-base:#6f9fd4;//高亮背景颜色
$em-highlight-bg2-color-base: rgba(41, 60, 83,0.8),rgba(31, 45, 61, 0.9);//深色背景
$em-base-background: #0d1430;
/*table*/
$em-background-table-thead:linear-gradient(rgba(48, 65, 86, 0.8), rgba(43, 47, 58, 1));
$background-linear-base:linear-gradient(to bottom right,nth($em-highlight-bg2-color-base,1),nth($em-highlight-bg2-color-base,2));
$em-background-table-tbody: rgba(30, 49, 83, 0.8);//tbody
$em-background-hover-tbody:rgba(25, 137, 250,0.2);//tbody-hover背景

/*button*/
$em-operate-button-baseBackground:#2b2f3a;
$em-table-inLine-linear-btn:rgba(48, 65, 86, 0.8);

/*split*/
$em-split-bg: rgba(189, 189, 189, 0.7);
$em-card-bg:rgba(48, 65, 86, 0.8);

/*pagination*/
$background-pagination--inner:rgba(20, 31, 55, 0.5);//页码选择输入框背景；

/*表单*/
$em-form-item-checkMenu: #1e2c43; //下拉框
$em-form-item-checkMenu-border:#4f5662; //边框

/*drawer_details*/
$em-background-details:linear-gradient(to top left,rgba(25, 137, 250, 0.6), rgba(20, 31, 55, 1)) ;//pic-details背景

/*toolTip*/
$toolTip-background:darken(rgba(20, 31, 55, 0.5),5%);


/*el-upload-dragger*/
$em-upload-bg: #27374d;
$em-upload-border: #3c5372f7;

/*面包屑导航*/
$targs-view-wrapper-bg :linear-gradient(#1890ff,#080d21);
$targs-view-border-Color: rgba(22, 79, 154, 0.8);
$targs-view-text:#b1d7fa;
