.form-container{
  .el-select .el-input {
    width: 130px;
  }
  .input-with-select .el-input-group__prepend {
    background-color: #fff;
  }


}
.json-item{
  min-height: 300px;
  max-height: 500px;
  overflow-y: scroll;
}
